[Unit]
Description=Apache Tomcat Service for {{ app_name }}
After=network.target

[Service]
Type=forking
User={{ tomcat_user }}
Group={{ tomcat_group }}

Environment="JAVA_HOME={{ java_home }}"
Environment="CATALINA_HOME="/u01/Tomcat/Tomcat{{ tomcat_version }}"
Environment="CATALINA_BASE="/u01/Tomcat/tomcat-{{ app_name }}"
Environment="CATALINA_PID="/u01/Tomcat/tomcat-{{ app_name }}/temp/tomcat.pid"

ExecStart="/u01/Tomcat/Tomcat{{ tomcat_version }}/bin/startup.sh"
ExecStop="/u01/Tomcat/Tomcat{{ tomcat_version }}/bin/shutdown.sh"

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
